@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --color-bg: #f5f0e8;
  --color-fg: #0a0a0a;
  --color-border: rgba(10, 10, 10, 0.2);
  --color-muted: rgba(10, 10, 10, 0.5);
  --font-mono: var(--font-jetbrains);
}

@layer base {
  * {
    @apply antialiased;
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full;
  }
}
