@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import 'tailwindcss';
@import './prism.css' layer(components);

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-light-sable: #ffe9ce;
  --color-sable: #feddb6;
  --color-dark-sable: #503009;
  --font-julius: 'Julius Sans One', sans-serif;
}

@theme {
  --animate-slow-spin: slow-spin 50s linear infinite;
  @keyframes slow-spin {
    to {
      transform: rotate(360deg);
    }
  }
}
